# Vega specific entries
*.tmp
cmd/dummyriskmodel/dummyriskmodel
cmd/vega/vega
cmd/vegabench/vegabench
cmd/vegastream/vegastream
vega-*.log
.idea/
*.iws
.testCoverage.txt
.testCoverage.html
log/capistrano.log
.DS_Store
tmp/
data/
vendor/
.envrc
proto/*-re
