# Vega specific entries
cmd/*/*-dbg
cmd/vega/vega*
cmd/vegabenchmark/vegabenchmark*
data/
.DS_Store
.envrc
.idea/
*.iws
.mypy_cache
proto/*-re
.testCoverage.html
.testCoverage.txt
*.tmp
tmp/
*.log
vendor/
.vscode/
proto/**.orig
*.pb.go-re
gomock_reflect_*
