# VEGA code owners - aka 'people who should probably be included in reviews on...'

# Wildcard starting point
* @ashleyvega @jeremyletang @EVODelavega

# GraphQL schema changes should be reviewd by Team Vega Console
gateway/graphql/schema.graphql @edd @mattrussell36 @campbellssource

# Docs changes should be reviewed by the wider team
*.md @ashleyvega @jeremyletang @EVODelavega @pand-dev @peterbarrow
