# VEGA code owners - aka 'people who should probably be included in reviews on...'

# Wildcard starting point
* @ashleyvega @j.letang @elias10

# GraphQL schema changes should be reviewd by Team Vega Console
gateway/graphql/schema.graphql @edd @mattrussell36 @michael.campbell

# Docs changes should be reviewed by the wider team
*.md @ashleyvega @j.letang @elias10 @pasand @petebarrow
